doctype html 
html 
    head 
        meta(charset = 'utf-8')
    body 
        h2 Buy 
        form(action="/market/buyorder" method = 'post')
            p 
                input(type='text' name='coinname' placeholder='coinName')
            p 
                input(type="text" name='bid_quantity' placeholder='quantity') 
            p 
                input(type="text" name='bid_price' placeholder='price') 
            p 
                input(type="text" name='user_id' placeholder='user_id') 
            p 
                input(type="submit")
        h2 Sell 
        form(action="/market/sellorder" method = 'post')
            p 
                input(type='text' name='coinname' placeholder='coinName')
            p 
                input(type="text" name='ask_quantity' placeholder='quantity') 
            p 
                input(type="text" name='ask_price' placeholder='price') 
            p 
                input(type="text" name='user_id' placeholder='user_id') 
            p 
                input(type="submit")